body {
    height: 100vh;
}

/* Css do header*/
header {
    border-bottom: 1px solid #CCCCCC;
    justify-content: center;
    padding: 2em 0 4em 0;
}

.logoheader {
    padding: 0 0 0 8em;
   
}

.nav {
    display: inline-flex;
   

}

.nav li {
    padding: 0 0 0 2em;
    font-size: 1.2em;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;

}

.nav li:hover {
    color: hsl(26, 100%, 55%);
}

.profile {
    top: 1em;
    padding: 0 0 0 2em;
    height: 4em;
    position: relative;
    left: 30%;
}

.product-count {
    position: relative;
    left: 14.5%;
    bottom: 0.5em;
}

.btn-car {
    background-color: transparent;
    border: none;
    position: relative;
    left: 30%;
}

/* Css do main */
.container-b {
    position: relative;
    left: 55%;
    width: 25%;
    top: em;
}



.company-name {
    color: hsl(26, 100%, 55%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 1em 0;
    
}


.title-main {
    color: #000000;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 3em;
    font-weight: 700;
    margin: 0 0 1em 0;
}

.text-main {
    color: hsl(219, 9%, 45%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

/* Css main prices */

.prices {
    position: relative;
    left: 55%;
    top: 2em;
    width: 11%;
}

.price-a {
    color: #000000;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    margin: 0 1em 1em 0;
}

.discount {
    color: hsl(26, 100%, 55%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    background-color: hsl(25, 100%, 94%);
    padding: 0.5em; 
}

.price-b {
    color: hsl(220, 14%, 75%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    position: relative;
    top: 1em;
    width: 1%;
}

/* Css main button */

.main-btn {
    position: relative;
    left: 55%;
    top: 8em;
    width: 80%;

}

#btn-menos {
    background-color: transparent;
    color: hsl(26, 100%, 55%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    border: none;
}

#number-shoes{
    color: #000000;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
}

#btn-mais {
    background-color: transparent;
    color: hsl(26, 100%, 55%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    border: none;
}

#btn-add {
    background-color: hsl(26, 100%, 55%);
    color: #FFFFFF;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    border: none;
    width: 13%;
    padding: 0.8em;
    border-radius: 1em;

}

.car2 {
    margin: 0 1em 0 0;
}

/* Css do slide */

.slide {
    width: 600px;
    height: 576px;
    overflow: hidden;
    border-radius: 2em;
    transition: all 0.4s;

}
.slides {
    width: 300%;
    display: flex;
}

.images img{
    width: 100%;
    height: 576px;
}

#atual {
    transition: all 2s;
}

.btn {
    position: absolute;
    color: #000;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7em;
    margin-top: -5px;
}

.btn:hover {
    transform: scale(1.5);
}

#back {
    top: 50%;
    left: 10%;
}

#next {
    top: 50%;
    right: 10%;
}

.balls {
    position: absolute;
    width: 1024px;
    display: flex;
    justify-content: center;
    margin-top: -45px;
}

.balls div {
    transition: all 0.5s;
    border: 3px solid #000;
    padding: 6px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}

.balls div:hover {
    background: #000;
}

.imgActual {
    background: #000;
    transition: all 0.5s;
}