body {
    height: 100vh;
}

/* Css do header*/
header {
    border-bottom: 1px solid hsl(220, 14%, 75%);
    justify-content: center;
    padding: 2em 0 4em 0;
    width: 75%;
    position: relative;
    left: 12%;
}

.logoheader {
    padding: 0 0 0 8em;
   
}

.nav {
    display: inline-flex;
   

}

.nav li {
    padding: 0 0 0 2em;
    font-size: 1.2em;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;

}

.nav li:hover {
    color: hsl(26, 100%, 55%);
}

#profile {
    top: 1em;
    height: 5em;
    position: absolute;
    left: 90%;
    border-radius: 3em;
    
    
}

#profile:hover {
    border: solid 2px  hsl(26, 100%, 55%);
    transition:  0.8ms;

}

.product-count {
    position: relative;
    left: 14.5%;
    bottom: 0.5em;
    
}

#btn-car {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 3em;
    left: 85%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: 'Ubuntu', sans-serif;
    padding: 1em;
    left: 82%;
    top: 8em;
  }

.dropdown:hover .dropdown-content {
    border-radius: 0.5em;
    display: block;

}

#checkout {
    background-color: hsl(26, 100%, 55%);
    color: #FFFFFF;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    border: none;
    width: 50%;
    padding: 0.8em;
    border-radius: 1em;

}
.cart {
    color: #000000;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
}
/* Css do main */
.container-b {
    position: relative;
    left: 55%;
    width: 25%;
    top: 10em;
    padding: 1em;
}



.company-name {
    color: hsl(26, 100%, 55%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    margin: 0 0 1em 0;
    
}


.title-main {
    color: #000000;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 3em;
    font-weight: 700;
    margin: 0 0 1em 0;
}

.text-main {
    color: hsl(219, 9%, 45%);
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

/* Css main prices */

.prices {
    position: relative;
    left: 55%;
    top: 13em;
    width: 11%;
}

.price-a {
    color: #000000;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    margin: 0 1em 1em 0;
}

.discount {
    color: hsl(26, 100%, 55%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    background-color: hsl(25, 100%, 94%);
    padding: 0.5em; 
}

.price-b {
    color: hsl(220, 14%, 75%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    position: relative;
    top: 1em;
    width: 1%;
}

/* Css main button */

.main-btn {
    position: relative;
    left: 52%;
    top: 17em;
    width: 30%;

}

#btn-add {
    background-color: hsl(26, 100%, 55%);
    color: #FFFFFF;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
    border: none;
    width: 40%;
    padding: 0.8em;
    border-radius: 1em;
    position: relative;
    left: 35%;
    bottom: 2.5em;

}

#btn-add:active {
    opacity: .5;
    
}


.car2 {
    margin: 0 1em 0 0;
}

.amount-btn {
    background: hsl(223, 64%, 98%);
    width: 30%;
    justify-content: center;
    
  
}

.amount-btn span, input {
    margin-left: 1em;
    ;
}


#btn-menos {
    background-color: transparent;
    color: hsl(26, 100%, 55%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    border: none;
}

#btn-menos:active {
    opacity: .5;
}

#number-shoes{
    color: #000000;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1em;
    font-weight: 700;
}

#btn-mais {
    background-color: transparent;
    color: hsl(26, 100%, 55%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    border: none;
}

#btn-mais:active {
    opacity: .5;
}


/* Css do slide */

#container-a {
    width: fit-content;
    height: auto;
    margin: 150px auto;
    position: absolute;
    left: 25%;
    bottom: 5em;
}

.principal {
    width: 480px;
    height: fit-content;
    overflow: hidden;
    border-radius: 1em;
}

.slide {
    display: flex;
    width: 400%;
    transition: all .8s;

}

.slide img {
    height: 30em;

}

label {
    position: relative;
    top: 39em;
    right: 5%;
}

label img {
    width: fit-content;
    cursor: pointer;
    float: left;
    opacity: 0.5;
    transition: all .4s;
    border-radius: 1em;
    margin-left: 2em;
    height: 6em;
   
}

#image2:checked ~ .principal .slide {
    margin-left: -100%;
}


#image3:checked ~ .principal .slide {
    margin-left: -200%;
}

#image4:checked ~ .principal .slide {
    margin-left: -300%;
}
input[name="grupo"]{
    display: none;
}

input[name="grupo"]:checked + label img {
    opacity: 1;
}
